= form_for([:admin, @page]) do |f|
  = render partial: "partials/form_errors", object: @page.errors

  %div.row
    %div.large-12.columns
      = f.text_field :name, placeholder: "Page name", data: {tooltip: true}, title: "Page name to be used in the URL. Ex) about, contact"

  %div.row
    %div.large-12.columns
      = f.text_field :title, placeholder: "Title", data: {tooltip: true}, title: "Title to appear at the top of the page"

  %div.row
    %div.small-2.columns
      %label Published?
      %div.switch.small
        = f.check_box :published
        %label{:for => "cms_page_published", :'data-tooltip' => true, :title => "If published, the page is viewable"}
    %div.small-4.columns.end
      %label
        Published Date
        = f.text_field :published_at, value: @page.published_at.strftime('%Y-%m-%d %H:%M')

  %div.row
    %div.large-12.columns
      = f.text_area :content, rows: 20

  %div.row
    %div.large-12.columns
      %div.actions
        %button{:'data-reveal-id' => "preview-modal", :'data-preview-endpoint' => admin_cms_pages_preview_path, :'data-preview-source' => "cms_page_content", :'data-no-turbolink' => true}
          Preview
        %div#preview-modal.reveal-modal{:'data-reveal' => true}
        = f.submit class: "button"
