
<br />

<div class="row">
  <%= link_to "New Article", new_admin_cms_page_path, class: "button" %>
</div>

<div class="row">
  <table>
    <thead>
      <tr>
        <th>Article</th>
        <th>Date</th>
        <th>Published?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td scope="row"><%= link_to page.title, edit_admin_cms_page_path(page) %></td>
          <td><%= l page.published_at, format: :longest %></td>
          <td class="status <%= page.published? ? 'success' : 'alert' %>">
            <%= page.published? ? 'Live!' : 'Draft' %>
          </td>
          <td><a href="<%= edit_admin_cms_page_path(page) %>"><i class="fi-page-edit"></i> Edit</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
