<%= form_for([:admin, @article]) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <%= f.text_field :title, placeholder: "Title" %>
    </div>
  </div>

  <div class="row">
    <div class="small-2 columns">
      <label>Published?</label>
      <div class="switch small">
        <%= f.check_box :published %>
        <label for="blog_article_published"></label>
      </div>
    </div>
    <div class="small-4 columns end">
      <label>Article Date
        <%= f.text_field :published_at, value: @article.published_at.strftime('%Y-%m-%d %H:%M') %>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.text_area :content, rows: 20 %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="actions">
        <%= f.submit class: "button" %>
      </div>
    </div>
  </div>
<% end %>
